body {
	max-height: 100vh;
	overflow: hidden;
}

#control {
	background: teal;
	display: inline-block;
	padding: 1px;
}

#results {
	background: #fff;
	border-radius: 50%;
	height: 25px;
	width: 25px;
}