#resume {
	display: none;
}

p {
	letter-spacing: .1em;
}

.navbar-default .navbar-header .navbar-brand {
	color: #0f228c;
	font-weight: 400;
}
.login-btn {
	margin-top: 8px;
}
.greeting {
	display: inline-block;
	text-align: right;
}
.greeting h1 {
/* 	color: #e7e7e7; */
	color: #0f228c;
	font-size: 44px;
	font-weight: 200;
	margin: 50px 0px;
	z-index: 3;
}
.greeting hr {
	margin-bottom: 0;
}
.the-greet a {
	color: #333;
	text-decoration: none;
}
.greeting.grafiti {
	background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%,rgba(255,255,255,0.96) 3%,rgba(255,255,255,0.11) 75%,rgba(255,255,255,0) 84%,rgba(255,255,255,0) 95%,rgba(255,255,255,0) 97%);
	display: inline-block;
	padding: 10px 5%;
	text-align: right;
}
body.blog {
	background: url(/img/grafiti.jpg) no-repeat center center fixed;
    background-size: cover;
}
.blog-index-img {
	margin-top: 20px;
}


.jumbotron.home-title-jumbo {
	text-align: center;
}
.home-title-jumbo h1 {
	display: inline-block;
	font-weight: 200;
	margin: 0px;
    vertical-align: middle;
}
.jumbotron.home-title-jumbo p {
	display: inline-block;
	margin: 0px 50px;
    vertical-align: middle;
}

.about .jumbotron.home-title-jumbo.grafiti {
	background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 24%,rgba(255,255,255,0) 98%,rgba(255,255,255,0) 100%);
}

/*Transparent gradient*/
.gradient {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100 */
	background: -moz-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 50%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 50%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.top-right-corner-img {
	position:absolute;
	right:0px;
	top:50px;
	z-index: 10;
}
.top-right-corner-img img {
	float:right;
	max-width:50%;
	z-index:0;
}
.top-right-corner-img .gradient {
	float:right;
	height:100%;
	position:absolute;
	right:0px;
	top:0px;
	width:50%;
	z-index:2;
}
/*end homepage*/

/*about*/
.about-services {
	background: #fff;
    margin-top: 0px;
}
.about-services h1 {
	display: inline-block;
	font-size: 20px;
	font-weight: 300;
	/*padding: 0 50px;*/
	margin: 20px 0px;
}	
.about-services a {
	color: #0f228c;
	font-size: 32px;
	text-decoration: none;
}
.bw-cta {
	clear: both;
}

.bw-cta .jumbotron {
	margin-bottom: 0;
}
.client-site {
	position: absolute;
	/*top: 89px;*/
	top: 12px;
	width: 100%;
}
.client-site img {
    height: 205px;
    margin: 0px 34px 0px 0px;
    width: 320px;
}
.greeting.about-services {
	text-align: left;
	z-index: 11;
}
.macbook-pro {
	/*padding: 75px 0px;*/
	text-align: center;
}
.macbook-pro img {
	max-width: unset;
}
.service {
	text-align: center;
}

/*contact*/
.btn-h1-spacing {
  margin-top: 20px;
}
.form-spacing-top {
  margin-top: 20px;
}
.my-contact-info a {
	color: #0f228c;
	font-weight: 200;
}
.post-img img,
.post-img iframe,  
.blog .post img {
	max-width: 100%;
}

/*blog home */
.blog .jumbotron {
	background: rgba(238, 238, 238, 0.95);
}
.blog-posts-home {
	background: rgba(238, 238, 238, 0.95);
	border-radius: 6px;
	padding: 1px 20px 0px;
}
.blog-posts-home-side {
	background: rgba(238, 238, 238, 0.95);
	border-radius: 6px;
}
.blog-posts-home-side hr {
	border-top: 1px solid #000;
}
.blog-posts-home hr:last-child {
	visibility: hidden;
}

.author-image {
	border-radius: 50%;
	float:left;
	height:50px;	
	width: 50px;
}
.author-name {
	float: left;
	margin: 5px;
	margin-left: 15px;
}
.author-name h4 {
	margin: 5px 0px;	
}
.author-time {
	color: #aaa;
	font-size: 11px;
	font-style: italic;
}

.comment {
	margin-bottom: 45px;
}
.comment-content {
	clear: both;
	font-size: 16px;
	line-height: 1.3em;
	margin-left: 65px;
}
.comments-title {
	margin-bottom: 45px;
}
.comments-title > span {
	margin-right: 15px;
}
.post iframe {
	max-width: 100% !important;
}

/*Tags*/
.tag-edit-spacing {
	margin-top: 20px;
}

@media(min-width: 776px) {
	.about-services h1 {
	    font-size: 30px;
	}
	.blog-posts-home {
    		padding-top: 0;
	}
	.client-site {
		top: 14px;
	}
	.client-site img {
	    width: 243px;
	    height: 153px;
	    margin: 0px 33px 0px 0px;
	}
	.greeting h1 {
		font-size: 66px;
	}
	.macbook-pro img {
		max-width: 350px;
	}
}

@media(min-width: 1024px) {
	.greeting h1 {
		font-size: 88px;
		z-index:3;
	}
}

@media(min-width: 1200px) {
	.home-title-jumbo .btn {
		margin-top: 20px;
	}
}

@media(min-width: 1400px) {
	.homepage .jumbotron.home-title-jumbo {
		margin-top: 100px;
	}
}
